env.PPM = 20
env.RT_DELTA = 0.31
env.MIN_SIGNAL = 1000000.0
env.MIN_RANGE = 1.10

env.skeleton_input_name = 'Skeleton_input_'+ env.PPM + env.RT_DELTA + env.MIN_SIGNAL + env.MIN_RANGE + '.tsv'
env.skeleton_output_name = 'Skeleton_output_'+ env.PPM + env.RT_DELTA + env.MIN_SIGNAL + env.MIN_RANGE + '.tsv'

env.skeleton_qc_name = 'Skeleton_QC_output.tsv'

env.SKELETON_QC_INPUT = '/home/ubuntu/data/skeleton_template/skeleton_input_Hybrid_IS_IonType_DRJ_v2.tsv'

env.SKELETON_HYBRID_INPUT = '/home/ubuntu/data/skeleton_template/Skeleton_input_Hybrid_IonType_100919.tsv'
